<!doctype html>
<html>
  <head>
    <style type="text/css">
    h1.title { font-size: 40px; color: DarkRed; }
    h1 { /* Header 1 */ font-size: 40px; color: DarkRed;  }
    h2 { /* Header 2 */ font-size: 16px; }
    h3 { /* Header 3 */ font-size: 18px; }
    code.r{ /* Code block */ font-size: 12px; }
    body{ /* Normal  */ font-size: 12px; }
    td {  /* Table  */ font-size: 12px; }
    pre { /* Code block - determines code spacing between lines */ font-size: 12px; }
    
    header{ width: 20% }
    section{ width: 80% }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
      <section>

      {{ content }}

      </section>
    
      <div class="wrapper">
      <header>

        <br/>
        <img src="/single-cell_sib_scilifelab/logos/sib_logo_high.jpg" height="70">
        <br/>
        <br/>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXrM7nmHWY7IctvH_9tb8YpqNbbSjaFxHkyMmZFaYkehgGER8X" height="40">
        <br/>
        <br/>
        <img src="/single-cell_sib_scilifelab/logos/nbislogo-orange-txt.svg" height="60">
        <br/>
        <br/>
        <br/>

        <a href="/single-cell_sib_scilifelab/README.html"><img border="0" src="https://cdn2.iconfinder.com/data/icons/inverticons-stroke-vol-1/32/home_house_building_main_page-512.png" width="20" height="20"> Main Page</a>
        <br/>
        <br/>
        <a href="/single-cell_sib_scilifelab/schedule.html"><img border="0" src="https://www.svgrepo.com/show/158264/schedule.svg" width="20" height="20"> Schedule</a>
        <br/>
        <br/>
        <a href="/single-cell_sib_scilifelab/precourse.html"><img border="0" src="https://www.svgrepo.com/show/19652/maths-class-materials-cross-of-a-pencil-and-a-ruler.svg" width="20" height="20"> Pre-course</a>
        <br/>
        <br/>
        <a href="/single-cell_sib_scilifelab/travel_info.html"><img border="0" src="https://www.svgrepo.com/show/4199/placeholder-on-a-map.svg" width="20" height="20"> Travel Info</a>
        <br/>
        <br/>
        <a href="/single-cell_sib_scilifelab/faq.html"><img border="0" src="https://www.svgrepo.com/show/83019/faq-button.svg" width="20" height="20"> FAQ</a>
        <br/>
        <br/>
<!--
         <br>
        <a href="/single-cell_sib_scilifelab/session-dimensionality-reduction/lecture_dimensionality_reduction.pdf">Dim_red</a>
        <br>
        <a href="/single-cell_sib_scilifelab/session-dimensionality-reduction/seurat/seurat_02_dim_reduction_compiled.html">QC_seurat</a>
        <br>
        <a href="/single-cell_sib_scilifelab/session-dimensionality-reduction/scater/scater_02_dim_reduction_compiled.html">QC_scater</a>
        <br>
-->
        
        
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}"><img border="0" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="20" height="20">View on GitHub<small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
        
      <footer>
        {% if site.github.is_project_page %}
        <p><a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Theme: <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
